annotated-types==0.7.0
bcrypt==5.0.0
boto3==1.43.24
botocore==1.43.24
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
idna==3.18
jmespath==1.1.0
langchain_text_splitters==1.1.2
pycparser==3.0
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
pydantic[email]
PyJWT==2.13.0
pyparsing==3.3.2
PyYAML==6.0.3
psycopg-binary
requests==2.34.2
s3transfer==0.18.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tiktoken==0.11.0
urllib3==2.7.0
openai==2.45.0
